{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_links %}
{% endblock %}
{% block style_links %}

{% endblock %}

{% block title %}
Home
{% endblock %}
{% block content %}
<div class="page-top">
    <div class="container page-heading" style="margin-top:180px;">
        <div class="row">
            <div class="col">
                <h1 class="text-center">About Us</h1>
            </div>
        </div>
    </div>
</div>
<div class="page-content js-animated" data-animate data-animation-classes="animated fadeInUp slow">
    <div class="container">
        <div class="row">
            <div class="col">
                <div>{{about.about_long|safe}}</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script_links %}
{% endblock %}
{% block scripts %}

{% endblock %}