{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_links %}
{% endblock %}
{% block style_links %}

{% endblock %}

{% block title %}
Home
{% endblock %}
{% block content %}
<div class="page-top">
    <div class="container page-heading" style="margin-top:180px;">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Contact us</h1>
            </div>
        </div>
    </div>
</div>
<div class="page-content js-animated" style="margin-top: 100px;" data-animate
    data-animation-classes="animated fadeInUp slow">
    <div id="map"></div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 col-xs-12 mb-4">
                <div class="contact__wrapper">
                    <h2>{{contact.company_name}}</h2>
                    <p><span class="fa fa-phone mr-2"></span>{{contact.phone_number}}, {{contact.phone_number2}},
                        {{contact.mobile_number}} </p>
                    <p><span class="fa fa-envelope mr-2"></span>{{contact.email}}</p>
                    <p><span class="fa fa-map-marker mr-2"></span> <span>{{contact.address}}</span></p>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <h2 class="text-center">Get in touch</h2>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input required type="text" class="form-control" name="full_name" id="id_full_name"
                            placeholder="Full Name*">
                    </div>
                    <div class="form-group">
                        <input required type="email" class="form-control" name="email" id="id_email"
                            placeholder="Email*">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="phone_number" id="id_phone_number"
                            placeholder="Phone Number">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="address" id="id_address" placeholder="Address">
                    </div>
                    <div class="form-group">
                        <textarea required name="message" class="form-control" placeholder="Your message*"
                            id="id_message" cols="30" rows="10"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-primary my-3" role="alert">
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_links %}
<!-- <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDIJ9XX2ZvRKCJcFRrl-lRanEtFUow4piM&callback=initMap"
    type="text/javascript"></script> -->
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUdBmratEzJjKO6eueiRneuqYqzco3mdg&callback=initMap"
    type="text/javascript"></script>
{% endblock %}
{% block scripts %}
<script>
    var map;

    function initMap() {
        var myLatLng = {
            lat: 27.700924,
            lng: 85.322938
        };
        map = new google.maps.Map(document.getElementById('map'), {
            center: myLatLng,
            zoom: 16
        });
        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Premier Securities'
        });
    }
</script>
{% endblock %}