{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_links %}
{% endblock %}
{% block style_links %}

{% endblock %}

{% block title %}
Downloads
{% endblock %}
{% block content %}
<div class="page-top">
    <div class="container page-heading" style="margin-top:180px;">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Downloads</h1>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="container">
        <div class="row">
            {% if not download_list %}
            <div class="col">
                <p>No download content found.</p>
            </div>
            {% else %}
            <div class="col">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>SN</th>
                            <th>File Name</th>
                            <th>Document Type</th>
                            <th>Uploaded Date</th>
                            <!-- <th>Action</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in download_list %}
                        <tr>
                            <td>{{forloop.counter}}.</td>
                            <td><a href="{{item.file.url}}"><i class="fa fa-download mr-1"></i> {{item.file_name}}</a>
                            </td>
                            <td>{{item.get_file_type}}</td>
                            <td>{{item.timestamp}}</td>
                            <!-- <td><a href="{{item.file.url}}" class="btn btn-primary btn-sm">Download</a></td> -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}

{% block script_links %}
{% endblock %}
{% block scripts %}

{% endblock %}