{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_links %}
{% endblock %}
{% block style_links %}
<link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css"> -->
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
{% endblock %}
{% block title %}
Home
{% endblock %}
{% block content %}
<div class="owl-carousel home-carousel owl-theme">
    {% for slide in slider %}
    <div class="item">
        <div class="intro-section" style="background: linear-gradient(rgba(21, 21, 21, 0.7), rgba(42, 59, 64, 0.7), rgba(57, 116, 132, 0.7)),
    url({{slide.image.url}}) no-repeat center; background-size: cover;">
            <!-- intro section -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <div class="intro-caption">
                            <!-- intro caption -->
                            <h1 class="intro-title text-center text-md-left animated bounce">
                                {{slide.caption}}</h1>
                            <p class="mb40 d-none d-md-block">{{slide.sub_caption}}</p>
                            <div class="text-center text-md-left mt-5 mt-md-0">
                                <a href="#services" class="btn btn-default btn-invert">Learn More</a>
                            </div>
                        </div>
                        <!-- /.intro caption -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- /.intro section -->
<div class="section-space60 js-animated" data-animate data-animation-classes="animated fadeInUp slow" id="services"
    style="margin-top:90vh;">
    <!-- section-space80 -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h1>The Best Broker Services</h1>
                    <!-- <p>Nec scelerisque diam lobortis utex orci posuere mollis tellus id lacinia pharetra. </p> -->
                </div>
            </div>
        </div>
        <div class="row">
            {% for service in service_list %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="service-block mb20 pinside30 outline text-center">
                    <div class="service-icon mb30">
                        {% if service.image %}<img src="{{service.image.url}}" class="img-responsive"
                            alt="{{service.title}}"> {% else %} <i class="{{service.icon}}"
                            style="font-size: 5rem;"></i> {% endif %}
                    </div>
                    <div class="">
                        <h2 class="heading-title">{{service.title}}</h2>
                        <p>{{service.content}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- /.section-space80 -->
</div>
<div class="section-space80 bg-light js-animated" data-animate data-animation-classes="animated fadeInUp slow">
    <!-- section-space80 -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center mb60">
                <h1>Who We Are?</h1>
                <p>{{about.about_short}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center mb40">
                <h2>Take on the market with our powerful platforms</h2>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="mb30">
                    <h3>Authorized Broker Company</h3>
                    <p>Trading with only the authorized brokerage company like Premier Securities will help you from fraud and illegal transactions.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="mb30">
                    <h3>Higly Flexible Order Placement</h3>
                    <p>Why not use our perfect trading platform to trade on multiple companies listed under NEPSE.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="mb30">
                    <h3>Expert Research Recommendations</h3>
                    <p>Our expert customer support team are always ready to serve you either in phone, email or pay us a visit in our office. </p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center mt40">
                <a href="{% url 'home:about' %}" class="btn btn-outline">About us</a>
            </div>
        </div>
    </div>
</div>
<!-- /.section-space80 -->
<div class="section-space60 js-animated" data-animate data-animation-classes="animated fadeInUp slow">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section-title">
                    <h1>Current Market Status</h1>
                    <p>Always stay up-to-date with the latest market status.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table id="market" class="table table-striped table-hover nowrap">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Transactions</th>
                            <th>Max</th>
                            <th>Min</th>
                            <th>Closing Price</th>
                            <th>Traded</th>
                            <th>Amount</th>
                            <th>Difference</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
{% if review_list %}
<div class="section-space60 js-animated" data-animate data-animation-classes="animated fadeInUp slow">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h1>Customer Reviews</h1>
                    <p>We welcome feedback from our members as it helps us optimize the site to better service their
                        needs. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="owl-carousel owl-theme mb30">
                    {% for review in review_list %}
                    <div class="item">
                        <div class="outline testimonial-block pinside30">
                            <div class="testimonial-header">
                                <div class="testimonial-icon">
                                    <!-- testimonial icon -->
                                    <i class="fa fa-quote-left"></i>
                                </div>
                                <!-- /.testimonial icon -->
                                <span class="testimonial-title">{{review.heading}}</span>
                            </div>
                            <div class="testimonial-content">
                                <p>“{{review.content}}”</p>
                            </div>
                            <div class="customer-box">
                                <!-- customer-box -->
                                <div class="testimonial-img">
                                    <img src="{{review.avatar.url}}" alt="{{review.name}}" class="rounded-circle">
                                </div>
                                <div class="testimonial-info">
                                    <h3 class="customer-name">{{review.name}}</h3>
                                    <h4 class="testimonial-meta">Customer</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- /.section-space80 -->
<div class="cta bg-theme-dark js-animated" data-animate data-animation-classes="animated fadeInUp slow">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12">
                <h1 class="cta-title">Get in touch <br>
                    Call, email or visit our office</h1>
                <p class="cta-text">Get all the guidance and help you need by contacting our support members.</p>
                <a href="{% url 'home:contact' %}" class="btn btn-white mb30">Contact Now</a>
            </div>
            <div class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-6 col-xs-12">
                <div class="bg-white pinside20 cta-info">
                    <div class="cta-call">
                        <i class="fa fa-phone"></i>
                        <span>{% firstof contact.phone_number contact.phone_number2 contact.mobile_number %}</span>
                    </div>
                    <div class="cta-mail">
                        <i class="fa fa-envelope"></i>
                        <span>{{contact.email}}</span>
                    </div>
                    <div class="cta-address">
                        <i class="fa fa-map-marker"></i>
                        <span class="address">
                            {{contact.address}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-space80 js-animated" data-animate data-animation-classes="animated fadeInUp slow">
    <!-- section space -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title">
                    <h1>Latest News and Articles</h1>
                    <!-- <p>Necslerisque diam lobortis ut phasellus exorci posuere mollis tellus idlacinia pharetra dolor. -->
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            {% for news in latest_news %}
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="post-block pinside40 outline mb30">
                    <!-- post block -->
                    <div class="post-meta mb10">
                        <!-- post meta -->
                        <span class="meta-admin">By <a href="{{news.get_absolute_url}}"
                                class="meta-link">{{news.auther}}</a></span>
                    </div>
                    <!-- /.post meta -->
                    <div class="post-header">
                        <h1 class="post-title mb10"><a href="{{news.get_absolute_url}}" class="title">{{news.title}}</a>
                        </h1>
                    </div>
                    <div class="post-meta mb30">
                        <!-- post meta -->
                        <span class="meta-date"><i class="fa fa-calendar"></i> {{news.date}}</span>
                    </div>
                    <div class="post-content">
                        <div>{{news.content|striptags|truncatewords:40}}</div>
                        <a href="{{news.get_absolute_url}}" class="btn-link">Read More</a>
                    </div>
                </div>
                <!-- /.post block -->
            </div>
            {% endfor %}

        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="flashNoticeModal" tabindex="-1" role="dialog" aria-labelledby="flashNewsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="flashNewsModalLabel">{{flash_notice.title}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if flash_notice.image %}
                <img src="{{flash_notice.image.url }}" class="img-fluid" alt="{{flash_notice.title}}">
                {% endif %}
                <p class="text-muted mt-1">Published Date: {{flash_notice.date}}</p>
                <p class="mt-2">{{flash_notice.content}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_links %}
<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        var flashNoticeExists = "{{flash_notice_exists}}";

        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(";");
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == " ") {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function checkCookie() {
            var seen = getCookie("seen");
            var flashNoticeId = getCookie("flashNoticeId");
            if (seen != "" && flashNoticeId === "{{flash_notice.id}}") {
                console.log("Notice seen already");
            } else {
                $("#flashNoticeModal").modal("show");
                setCookie("seen", "true", 1);
            }
        }
        if (flashNoticeExists == "True") {
            checkCookie();
            setCookie("flashNoticeId", "{{flash_notice.id}}", 1);
        }

        $(".home-carousel").owlCarousel({
            loop: true,
            margin: 0,
            animateOut: "fadeOut",
            autoplay: true,
            items: 1,
            autoplayHoverPause: false,
            // autoPlay: 4000
        });

        $(".owl-carousel").owlCarousel({
            loop: true,
            margin: 10,
            // autoplay: true,
            items: 1,
            autoplayHoverPause: true,
            autoPlay: 5000,
            responsiveClass: true,
            responsive: {
                480: {
                    items: 1
                }, // from zero to 480 screen width 
                768: {
                    items: 2
                }, // from 480 screen width to 768
                1024: {
                    items: 3 // from 768 screen width to 1024
                }
            }
        });

        $("#market").DataTable({
            searching: false,
            bLengthChange: false,
            ajax: {
                url: "https://nepse-data-api.herokuapp.com/data/todaysprice",
                dataSrc: ""
            },
            columns: [{
                    data: "companyName"
                },
                {
                    data: "noOfTransactions"
                },
                {
                    data: "maxPrice"
                },
                {
                    data: "minPrice"
                },
                {
                    data: "closingPrice"
                },
                {
                    data: "tradedShares"
                },
                {
                    data: "amount"
                },
                {
                    data: "difference"
                }
            ]
        });

    });
</script>
{% endblock %}