{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_links %}
{% endblock %}
{% block style_links %}

{% endblock %}

{% block title %}
Services
{% endblock %}
{% block content %}
<div class="page-top">
    <div class="container page-heading" style="margin-top:180px;">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Services</h1>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="container">
            <div class="row mb-5">
                <div class="col">
                    <p class="text-center">Improve your trading skills by using our extensive services. We are always here to guide you in every step.</p>
                </div>
            </div>
        <div class="row">
            {% for service in service_list %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="service-block mb20 pinside30 outline text-center">
                    <div class="service-icon mb30">
                        {% if service.image %}<img src="{{service.image.url}}" class="img-responsive"
                            alt="{{service.title}}"> {% else %} <i class="{{service.icon}}"
                            style="font-size: 5rem;"></i> {% endif %}
                    </div>
                    <div class="">
                        <h2 class="heading-title">{{service.title}}</h2>
                        <p>{{service.content}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block script_links %}
{% endblock %}
{% block scripts %}

{% endblock %}