@charset "UTF-8";
/* CSS Document */

/*------------------------------------------------------------------

[CSS Table of contents]

1.  Body / Typography 
2.  Form Elements
3.  Buttons
4.  General / Elements
        4.1 Section space
        4.2 Margin space
        4.3 Padding space
        4.4 Background color
        4.5 Features
        4.7 Call to actions
        4.8 Img hover effect
        4.9 Icon
        -----------------------
5. Header / Navigations
        5.1 Header Regular
        5.2 Header Transparent
        5.3 Navigation Regular
        5.4 Page Header

        -----------------------
6. Slider
        6.1 Slider
        -----------------------
7. Content
8. Footers
9. Pages
    9.1  Service
    9.2  Service Single / sidebar with sidenav
    9.3  Testimonial
    9.4  Contact us
    ------------------------------------
10.Blog
    10.1 Blog Default
    10.2 Blog Single
    ------------------------------------
11.Sidebar
    11.1 Widget
    ------------------------------------

13. Media Queries
------------------------------------------------------------------*/
:root {
  --main-bg-color: #496077;
  --theme-darkest-color: #0a2c66;
  --theme-darker-color: #0c4dbd;
  --theme-color: #155ad0;
  --theme-lighter-color: #1d63db;
  --theme-lightest-color: #3c78df;
}


body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  background-color: #fff;
  color: #8e8da5;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  color: #2d2b51;
  font-weight: 400;
}

h1 {
  font-size: 34px;
  line-height: 45px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
  line-height: 35px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

p {
  margin: 0 0 20px;
}

p:last-child {
  margin-bottom: 0px;
}

ul,
ol {
  margin: 0;
}

ul li,
ol li {
  line-height: 1.9;
}

a {
  color: #8d9393;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

a:focus,
a:hover {
  text-decoration: none;
  color: var(--theme-lightest-color);
}

strong {
  font-weight: 600;
}

.listnone {
  list-style: none;
}

.lead {
  font-size: 21px;
  line-height: 31px;
  color: #2d2b51;
}

.italic {
  font-style: italic;
}

.small {
  font-size: 14px;
}


/*---------------- title class ------------*/
.title {
  color: #2d2b51;
}

.heading-title {
  color: #2d2b51;
}

.text-white {
  color: #fff;
}

/*----------------- template button --------------*/
.btn {
  display: inline-block;
  padding: 14px 37px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 600;
  border-radius: 56px;
  line-height: 1.42857143;
  text-align: center;
  border: none;
  text-transform: uppercase;
}

/*--------- btn default --------*/
.btn-default {
  color: #fff;
  background-color: var(--theme-darkest-color);
  border: 3px solid var(--theme-darkest-color)
}

.btn-default:hover {
  color: var(--theme-darkest-color);
  background-color: transparent;
  border: 3px solid var(--theme-darkest-color);
}

.btn-default.focus,
.btn-default:focus {
  color: var(--theme-darkest-color);
  background-color: transparent;
  border: 3px solid var(--theme-darkest-color);
}

.btn-default.btn-invert:hover {
  color: white;
  background-color: transparent;
  border: 3px solid white;

}

/*--------- btn primary --------*/

.btn-primary {
  background-color: #ec6051;
  color: #fff;
}

.btn-primary:hover {
  background-color: #d75648;
  color: #fff;
}

.btn-primary.focus,
.btn-primary:focus {}

/*--------- btn outline --------*/

.btn-outline {
  border: 3px solid var(--theme-lightest-color);
  color: var(--theme-lightest-color);
  background: transparent;
}

.btn-outline:hover {
  background-color: var(--theme-lightest-color);
  border: 3px solid var(--theme-lightest-color);
  color: #fff;
}

.btn-outline.focus,
.btn-outline:focus {}

.btn-white {
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
}

.btn-white:hover {
  background-color: #fff;
  border: 3px solid #fff;
  color: var(--theme-darkest-color);
}

.btn-white.focus,
.btn-white:focus {
  background-color: transparent;
  border: 3px solid #fff;
  color: #03af9e;
}

/*--------- btn link --------*/
.btn-link {
  color: #2d2b51;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.btn-link:hover {
  color: var(--theme-lightest-color);
  font-weight: 500;
  text-decoration: underline;
}

/*--------- btn size --------*/
.btn-lg {
  font-size: 14px;
  padding: 20px 30px;
}

.btn-sm {
  font-size: 14px;
  padding: 10px 14px;
}

.btn-xs {
  font-size: 12px;
  padding: 6px 8px;
}

/*--------- selection --------*/
::selection {
  background: #ffecb3;
  color: #333;
}

/*-------------- Template Form Inputs ------------*/
.control-label {
  color: #839290;
  text-transform:
}

.form-control {
  width: 100%;
  height: 53px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #f6f8f9;
  border: 2px solid #f1f5f7;
  background-image: none;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0px 0px rgba(235, 237, 238, .075);
  box-shadow: inset 3 3px 3px rgba(235, 237, 238, .075);
  margin-bottom: 10px;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(235, 237, 238, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 3px 3px rgba(235, 237, 238, .075), 0 0 8px rgba(235, 237, 238, .6);
  background-color: #edf3f6;
}

.textarea.form-control {
  background-color: #f6f8f9;
  height: auto;
}

.required {
  color: red
}

.input-group-addon {
  color: #34d4a2;
  text-align: center;
  background-color: #f6f8f9;
  border: 1px solid #f1f5f7;
  border-left: 0px;
}

/*-----------------------------------
space css class
-----------------------------------*/

/*----------------
margin space
-----------------*/
.mb0 {
  margin-bottom: 0px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb100 {
  margin-bottom: 100px;
}

.mt0 {
  margin-top: 0px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt60 {
  margin-top: 60px;
}

.mt80 {
  margin-top: 80px;
}

.mt100 {
  margin-top: 100px;
}

/*---------------
padding space
-----------------*/
.no-padding {
  padding-right: 0;
  padding-left: 0;
}

.no-pdl {
  padding-left: 0;
}

.no-pdr {
  padding-right: 0;
}

.pinside10 {
  padding: 10px;
}

.pinside20 {
  padding: 20px;
}

.pinside30 {
  padding: 30px;
}

.pinside40 {
  padding: 40px;
}

.pinside50 {
  padding: 50px;
}

.pinside60 {
  padding: 60px;
}

.pinside80 {
  padding: 80px;
}

.pdt10 {
  padding-top: 20px;
}

.pdt20 {
  padding-top: 20px;
}

.pdt30 {
  padding-top: 30px;
}

.pdt40 {
  padding-top: 40px;
}

.pdt60 {
  padding-top: 60px;
}

.pdt80 {
  padding-top: 80px;
}

.pdb10 {
  padding-bottom: 10px;
}

.pdb20 {
  padding-bottom: 20px;
}

.pdb30 {
  padding-bottom: 30px;
}

.pdb40 {
  padding-bottom: 40px;
}

.pdb60 {
  padding-bottom: 60px;
}

.pdb80 {
  padding-bottom: 80px;
}

.pdl10 {
  padding-left: 10px;
}

.pdl20 {
  padding-left: 20px;
}

.pdl30 {
  padding-left: 30px;
}

.pdl40 {
  padding-left: 40px;
}

.pdl60 {
  padding-left: 60px;
}

.pdl80 {
  padding-left: 80px;
}

.pdr10 {
  padding-right: 10px;
}

.pdr20 {
  padding-right: 20px;
}

.pdr30 {
  padding-right: 30px;
}

.pdr40 {
  padding-right: 40px;
}

.pdr60 {
  padding-right: 60px;
}

.pdr80 {
  padding-right: 80px;
}

/*---------------
 Section Space
 
 * Section space help to create top bottom space. 
 *

-----------------*/
.section-space20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-space40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section-space60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-space80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-space100 {
  padding-top: 100px;
  padding-bottom: 100px;
}


/*-----------------------------------------
 background & block color 
------------------------------------------*/
.bg-light {
  background-color: #f6f8f9;
}

.bg-primary {}

.bg-default {
  background-color: var(--theme-lightest-color);
}

.bg-white {
  background-color: #fff;
}

.outline {
  border: 1px solid #f1f5f7;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(235, 237, 238, 1);
  -moz-box-shadow: 0px 3px 8px 0px rgba(235, 237, 238, 1);
  box-shadow: 0px 3px 8px 0px rgba(235, 237, 238, 1);
}

.section-title {
  text-align: center;
  margin-bottom: 60px;
}

.content {
  padding-bottom: 100px;
  padding-top: 100px;
}

.primary-sidebar {}

.secondary-sidebar {}

/*-------------- Bullet point -------------*/

.bullet {
  position: relative;
  padding-left: 15px;
  color: #78807e;
  line-height: 32px;
}

.bullet-double-right li:before {
  font-family: FontAwesome;
  display: block;
  position: absolute;
  left: 0;
  width: 13px;
  font-size: 14px;
  color: #78807e;
  content: "\f101";
}

/*----------------- Image Hover Effect ---------------*/
img {
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  line-height: normal;
  vertical-align: middle;
}

.imghover {
  display: block;
  position: relative;
  max-width: 100%;
}

.imghover::before,
.imghover::after {
  display: block;
  position: absolute;
  content: "";
  text-align: center;
  opacity: 0;
}

.imghover::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.imghover::after {
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: -25px 0 0 -25px;
  content: "\f2a8";
  font-family: "FontAwesome";
  font-size: 36px;
}

.imghover:hover::before,
.imghover:hover::after {
  opacity: 1;
}

.imghover:hover::before {
  background: rgba(39, 36, 36, .55);
}

.imghover:hover::after {
  color: #FFFFFF;
}

/*----------------- video ---------------*/
.video-section {
  position: relative;
}

.video-img {
  position: relative;
}

.video-img img {
  width: 100%;
}

.video-action {
  position: absolute;
  top: 40%;
  left: 47%;
}

/*--------------- Features block class --------------*/

.feature {}

.feature-icon {
  margin-bottom: 20px;
}

/*-------- feature icon left --------*/

.feature-left {}

.feature-left .feature-icon {
  float: left;
}

.feature-left .feature-content {
  padding-left: 60px;
}

/*-------- feature icon center --------*/

.feature-center {}

.feature-center .feature-icon {}

.feature-center .feature-content {}

/*-------- feature inner padding --------*/

.feature-inner {}

.feature-outline {}

/*---------------- Thumbnail Block ------------*/

.thumbnail-block {}

.thumbnail-img {}

.thumbnail-content {}

.thumbnail-inner {}

.thumbnail-outline {}

.logo {}

/*------------------ Navigation ----------------*/
.is-sticky .header {
  background-color: var(--theme-darkest-color);
}

.header {
  -webkit-transition: background-color .8s ease-out;
  -moz-transition: background-color .8s ease-out;
  -o-transition:
    background-color .8s ease-out;
  transition: background-color .8s ease-out;
  position: relative;
  padding-top: 50px;
  padding-bottom: 15px;
  font-family: 'Poppins', sans-serif;
  z-index: 9;
}

.navigation {}

#navigation,
#navigation ul,
#navigation ul li,
#navigation ul li a,
#navigation #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pull-right.open {
  background-color: #496077;
}

/*#navigation:after,
#navigation > ul:after {content: "."; display: block; clear: both;
visibility: hidden; line-height: 0; height: 0;}*/
#navigation #menu-button {
  display: none;
}

#navigation {
  background: transparent;
  margin-top: 10px;
}

#navigation>ul>li {
  float: left;
}

#navigation.align-center>ul {
  font-size: 0;
  text-align: center;
}

#navigation.align-center>ul>li {
  display: inline-block;
  float: none;
}

#navigation.align-center ul ul {
  text-align: left;
}

#navigation.align-right>ul>li {
  float: right;
}

#navigation>ul>li>a {
  padding: 18px 15px;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

#navigation>ul>li>a:hover {
  color: #fff;
  padding: 18px 15px;
}

#navigation>ul>li.has-sub>a {
  padding-right: 30px;
}

/*#navigation > ul > li.has-sub > a:after {position: absolute; top: 22px; right: 11px; width: 8px; height: 2px; 
  display: block; background: #dddddd; content: '';}*/
#navigation>ul>li.has-sub>a:before {
  position: absolute;
  right: 14px;
  font-family: FontAwesome;
  content: "\f107";
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

#navigation>ul>li:before {
  position: absolute;
  right: 0px;
  top: 15px;
  color: #039284;
  font-family: FontAwesome;
  content: "";
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

#navigation>ul>li:last-child:before {
  content: " ";
}

/*#navigation > ul > li.has-sub:hover > a:before {top: 23px; height: 0;}*/
#navigation ul ul {
  position: absolute;
  left: -9999px;
}

#navigation.align-right ul ul {
  text-align: right;
}

#navigation ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

#navigation li:hover>ul {
  left: auto;
  /* width: 150px; */
}

#navigation.align-right li:hover>ul {
  left: auto;
  right: 0;
}

#navigation li:hover>ul>li {
  height: 40px;
}

#navigation ul ul ul {
  margin-left: 100%;
  top: 0;
}

#navigation.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}

#navigation ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 15px 15px;
  width: 180px;
  font-size: 13px;
  text-decoration: none;
  color: #496077;
  font-weight: 600;
  background: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

#navigation ul ul li:last-child>a,
#navigation ul ul li.last-item>a {
  border-bottom: 0;
}

#navigation ul ul li:hover>a,
#navigation ul ul li a:hover {
  color: var(--theme-lightest-color);
}

#navigation ul ul li.has-sub>a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}

#navigation.align-right ul ul li.has-sub>a:after {
  right: auto;
  left: 11px;
}

#navigation ul ul li.has-sub>a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

#navigation.align-right ul ul li.has-sub>a:before {
  right: auto;
  left: 14px;
}

#navigation ul ul>li.has-sub:hover>a:before {
  top: 17px;
  height: 0;
}

#navigation.small-screen {
  width: 100%;
}

#navigation.small-screen ul {
  width: 100%;
  display: none;
}

#navigation.small-screen.align-center>ul {
  text-align: left;
}

#navigation.small-screen ul li {
  width: 100%;
  border-top: 1px solid rgba(120, 120, 120, 0.2);
}

#navigation.small-screen ul ul li,
#navigation.small-screen li:hover>ul>li {
  height: auto;
}

#navigation.small-screen ul li a,
#navigation.small-screen ul ul li a {
  width: 100%;
  border-bottom: 0;
}

#navigation.small-screen>ul>li {
  float: none;
}

#navigation.small-screen ul ul li a {
  padding-left: 25px;
}

#navigation.small-screen ul ul ul li a {
  padding-left: 35px;
}

#navigation.small-screen ul ul li a {
  color: #fff;
  background: none;
}

#navigation.small-screen ul ul li:hover>a,
#navigation.small-screen ul ul li.active>a {
  color: #fff;
}

#navigation.small-screen ul ul,
#navigation.small-screen ul ul ul,
#navigation.small-screen.align-right ul ul {
  position: relative;
  left: 0;
  width: 100%;
  margin: 0;
  text-align: left;
}

#navigation.small-screen>ul>li.has-sub>a:after,
#navigation.small-screen>ul>li.has-sub>a:before,
#navigation.small-screen ul ul>li.has-sub>a:after,
#navigation.small-screen ul ul>li.has-sub>a:before {
  display: none;
}

#navigation.small-screen #menu-button {
  display: block;
  padding: 17px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
}

#navigation.small-screen #menu-button:after {
  position: absolute;
  top: 22px;
  right: 17px;
  display: block;
  height: 8px;
  width: 20px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  content: '';
}

#navigation.small-screen #menu-button:before {
  position: absolute;
  top: 16px;
  right: 17px;
  display: block;
  height: 2px;
  width: 20px;
  background: #fff;
  content: '';
}

#navigation.small-screen #menu-button.menu-opened:after {
  top: 23px;
  border: 0;
  height: 2px;
  width: 15px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#navigation.small-screen #menu-button.menu-opened:before {
  top: 23px;
  background: #fff;
  width: 15px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#navigation.small-screen .submenu-button {
  position: absolute;
  z-index: 99;
  right: 0;
  top: 0;
  display: block;
  border-left: 1px solid rgba(120, 120, 120, 0.2);
  height: 50px;
  width: 50px;
  cursor: pointer;
}

#navigation.small-screen .submenu-button.submenu-opened {
  background: #19978a;
}

#navigation.small-screen ul ul .submenu-button {
  height: 34px;
  width: 34px;
}

#navigation.small-screen .submenu-button:after {
  position: absolute;
  top: 22px;
  right: 19px;
  width: 8px;
  height: 2px;
  display: block;
  background: #fff;
  content: '';
}

#navigation.small-screen ul ul .submenu-button:after {
  top: 15px;
  right: 13px;
}

#navigation.small-screen .submenu-button.submenu-opened:after {
  background: #fff;
}

#navigation.small-screen .submenu-button:before {
  position: absolute;
  top: 19px;
  right: 22px;
  display: block;
  width: 2px;
  height: 8px;
  background: #fff;
  content: '';
}

#navigation.small-screen ul ul .submenu-button:before {
  top: 12px;
  right: 16px;
}

#navigation.small-screen .submenu-button.submenu-opened:before {
  display: none;
}

#navigation.small-screen.select-list {
  padding: 5px;
}

.navigation-search {}

.navigation-search i {}

/*-------------- top herder ------------*/
.top-header {
  position: absolute;
  width: 100%;
  padding-top: 10px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, .6);
  line-height: 1;
  padding-bottom: 10px;
  z-index: 99;
}

.top-link {
  margin-left: 15px;
  color: #fff;
}

.top-link a {
  color: #e3e3e3;
}

.top-link i {
  padding-right: 10px;
  color: var(--theme-lightest-color);
}

/*-------------- page header ------------*/
.page-header {
  background: linear-gradient(rgba(29, 33, 46, 0.7),
      rgba(29, 33, 46, 0.7)), rgba(29, 33, 46, 0.7) url(../images/page-header.jpg) no-repeat center;
  background-size: cover;
  margin: 0;
}

.page-caption {
  padding: 105px 0;
}

.page-title {
  color: #fff;
}

.page-containt {
  font-size: 14px;
  color: #fff;
}

/*-------------- breadcrumb ------------*/
.breadcrumb {}

.breadcrumb>.active {}

/*-------------- slider ------------*/
.intro-section {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
}

.intro-caption {
  color: #fff;
  padding-top: 30%;
  padding-bottom: 150px;
  font-size: 18px;
}

.intro-title {
  font-size: 60px;
  color: #fff;
  line-height: 80px;
}

/*-------------- cta ------------*/
.cta {
  background-color: #3fc535;
  padding: 70px 0px;
}

.cta-title {
  font-size: 34px;
  color: #fff;
  margin-bottom: 30px;
  line-height: 55px;
}

.cta-text {
  font-size: 16px;
  color: #fff;
  margin-bottom: 40px;
}

.cta-info {
  border-radius: 5px;
}

.cta-content {
  color: #6c7175;
  font-weight: 500;
  padding-top: 5px;
}

.cta-call,
.cta-mail {
  border-bottom: 1px solid #e7eaea;
  margin-bottom: 29px;
  padding-bottom: 30px;
}

.cta-call i,
.cta-mail i,
.cta-address i {
  font-size: 25px;
  color: var(--theme-lighter-color);
}

.cta-call span,
.cta-mail span,
.cta-address span {
  padding-left: 10px;
  font-size: 16px;
  color: #2d2b51;
}


/*-------------- footer ------------*/
.footer {
  /* background-color: #8e8da5; */
  background-color: #222425;
}

.footer-widget hr {
  margin-bottom: 20px;
  margin-top: 19px;
  border-bottom: 1px solid #2e3031;
}

.footer-title {
  margin-bottom: 50px;
  color: #fff;
  text-transform: capitalize;
}

.footer-widget {
  color: #6c7175;
}

.footer-widget ul {}

.footer-widget li {
  margin-bottom: 7px;
}

.footer-widget li i {
  color: var(--theme-lightest-color);
  padding-right: 10px;
  padding-bottom: 5px;
}

.footer-widget li a {
  border-bottom: 1px solid #2e3031;
  color: #6c7175;
}

.footer-widget p {
  color: #6c7175;
}

.ft-contact-info {
  border-bottom: 1px solid #2e3031;
  margin-bottom: 19px;
  padding-bottom: 20px;
}

.ft-icon {
  float: left;
  font-size: 16px;
  color: var(--theme-lightest-color);
}

.ft-content {
  padding-left: 25px;
  color: #6c7175;
  font-weight: 500;
}

.footer-link {}

.footer-widget li.footer-link a {
  border-bottom: 0px solid transparent;
}

.footer-link a i {
  color: #6c7175;
  font-size: 14px;
}

.footer-link a i:hover {
  color: var(--theme-lightest-color);
}

.footer-widget .form-control {
  height: 44px;
  color: #ada9a9;
  background-color: #282b2d;
  border: 0px solid;
}

/*-------------- tiny footer ------------*/
.tiny-footer {
  background-color: #171819;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 14px;
  color: #383b3d;
}

.tiny-footer a:hover {
  color: var(--theme-lightest-color)
}

/*-------------- align ------------*/


/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 0px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 0px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}

.contant {}

.sidebar {
  margin-bottom: 50px;
}

/*-------------- blog css  ------------*/
/*-----blog post listing-----*/

.post-block {
  position: relative;
}

.post-holder {}

.post-header {}

.post-title {}

.post-img {}

.post-sticky {
  background: url(../images/sticky-sign.png) no-repeat;
  position: absolute;
  right: 25px;
  top: 0px;
  width: 24px;
  height: 30px;
}

.post-meta {
  font-size: 12px;
  line-height: 1.4;
  text-transform: uppercase;
  font-weight: 500;
  color: #8e8da5;
}


.post-meta i {
  color: var(--theme-lightest-color);
  font-size: 13px;
  margin-right: 7px
}

.meta-date {
  color: #8e8da5;
}

.meta-author {}

.meta-comment {}

.meta-cat {
  color: #8e8da5;
}

.meta-date,
.meta-author,
.meta-comment,
.meta-cat {
  display: inline-block;
}

.meta-link {
  color: #8e8da5;
}

.meta-tags {}

.post-content {}

.post-meta span {
  margin-right: 0px;
  margin-right: 15px;
}

.meta-doctor {
  color: #03af9e;
}

.quote-block {
  padding: 40px;
}

blockquote {
  font-size: 18px;
  padding-left: 0px;
  border-left: 0px;
  padding: 19px 50px 40px 60px;
}

blockquote p {
  font-size: 24px;
  font-style: normal;
  color: var(--theme-lightest-color);
}

.meta-name {}

.name {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}

.quote-icon {
  color: var(--theme-lightest-color);
  font-size: 34px;
  float: left;
}

.related-post {}

/*----- prev-next-----*/

.post-navigation {}

.nav-links {
  text-decoration: underline;
}

.nav-previous {}

.prev-link {
  margin-bottom: 10px;
  display: block;
  color: #839290;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 500;
}

.nav-next {}

.next-link {
  margin-bottom: 10px;
  display: block;
  color: #839290;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 500;
}

.previous-next-title {
  font-size: 16px;
  line-height: 24px;
}

/*-------------- sidebar csss ------------*/
/*----- widget -----*/
.widget {
  padding: 30px;
  background-color: #f9fafb;
  margin-bottom: 50px;
}

.widget ul li a {
  padding-left: 15px;
  line-height: 30px;
  font-size: 16px;
}

.widget-title {
  text-transform: uppercase;
  font-size: 18px;
  color: #2d2b51;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 30px;
}

.widget-search {}

.wedget-search .form-control {
  border-right: 2px solid transparent;
}

.widget-categories {}

.widget-categories ul {}

.widget-categories ul li {}

.widget-categories ul li a {}

.post-list {
  margin-bottom: 30px;
}

.widget-link {}

.widget-link:hover {}

.post-image {}

.post-containt {}

.widget-recent-post {}

.widget-recent-post ul {
  padding-left: 0px;
}

.widget-recent-post ul li {}

.widget-recent-post ul li a {}

.recent-block {}

.recent-title {
  font-size: 16px;
  line-height: 24px;
}

.related-title {
  font-size: 16px;
  line-height: 24px
}

.widget-tags {}

.widget-tags a {
  text-transform: uppercase;
  padding: 7px 16px;
  border: 2px solid #e7ebed;
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #b2b5b7;
  background-color: transparent;
  border-radius: 0px;
}

.widget-tags a:hover {
  background-color: var(--theme-lightest-color);
  color: #fff;
  border: 2px solid var(--theme-lightest-color);
}

.widget-text {}

.widget-follwus {}

.widget-contact {}

.widget-link {}

.widget-contact li {}

.widget-contact i {
  padding-right: 10px;
  padding-top: 4px;
  font-size: 18px;
  text-align: center;
  color: #03af9e;
}

.widget-contact address,
.widget-contact .contact {
  display: flex;
}

.schedule {}

.schedule span {}

/*----- Author Post -----*/

.author-post {
  border-bottom: 1px solid #f0f6f6;
  padding-bottom: 40px;
  margin-bottom: 39px;
}

.author-img {}

.author-img img {
  width: 150px;
  margin: 0 auto;
}

.author-bio {}

.author-meta {
  font-size: 12px;
  color: #03af9e;
}

.author-name {}

.author-header {
  float: left;
}

.author-content {}

.author-social {
  text-align: right;
}

.author-link {}

/*----- Comment Post -----*/

.comments-area {}

.comments-title {}

.comment-list {}

.comment {}

.comment-body {
  margin-top: 20px;
}

.comment-author {}

.comment-author img {
  float: left;
}

.comment-info {
  padding-left: 150px;
}

.comment-header {}

.user-title {
  font-size: 16px;
  color: #2d2b51;
}

.comment-meta {}

.comment-meta-date {
  color: #8e8da5;
  font-size: 12px;
}

.comment-content {}

.reply {}

.childern {
  padding-left: 100px;
}

/*----- Leave Reply -----*/

.leave-comments {
  margin-top: 50px;
}

/********** Extra Plugin CSS - Back to top **********/

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(73, 96, 119, 100) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.no-touch .cd-top:hover {
  background-color: #03af9e;
  opacity: 1;
}




/* service section */
.service-block {}

.service-img {}

.service-caption {}

.service-title {
  font-size: 22px;
  color: #fff;
  margin-bottom: 0px;
}

.service-icon {}

.service-icon img {
  margin: 0 auto;
}

/* testimonial section */
.testimonial-block {
  border-radius: 10px;
}

.testimonial-icon {
  color: var(--theme-lightest-color);
  font-size: 25px;
  float: left;
}

.testimonial-content {
  font-style: italic;
  font-size: 16px;
  color: #2d2b51;
  line-height: 30px;
  margin-bottom: 10px;
}

.testimonial-img {
  float: left;
  margin-top: 30px;
}

.testimonial-img img {
  height: 100px !important;
  width: 100px !important;
}

.testimonial-text {
  color: #78807e;
  font-size: 12px;
}

.testimonial-meta {
  color: #737578;
  font-size: 12px;
  font-weight: 400;
}

.testimonial-header {
  margin-bottom: 30px;
}

.testimonial-title {
  font-size: 22px;
  color: #8e8da5;
  margin-left: 20px;
  line-height: 1.5;
}

.customer-box {}

.testimonial-info {
  display: inline-block;
  padding-left: 20px;
  padding-top: 20px;
}

.customer-name {
  font-size: 14px;
  color: #2d2b51;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0px;
}

/*-------------Pagination-------------*/

.st-pagination {}

.st-pagination .pagination>li>a,
.pagination>li>span {
  position: relative;
  float: left;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #d9ded9;
  text-decoration: none;
  font-size: 12px;
  border: 2px solid #d9ded9;
  background-color: transparent;
  font-weight: 700;
  border-radius: 25px;
  text-transform: uppercase;
  margin-right: 5px;
  margin-bottom: 5px;
}

.st-pagination .pagination>li>a:focus,
.st-pagination .pagination>li>a:hover,
.st-pagination .pagination>li>span:focus,
.st-pagination .pagination>li>span:hover {
  z-index: 2;
  color: #fff;
  background-color: var(--theme-lightest-color);
  border-color: var(--theme-lightest-color);
  border-radius: 25px;
}

.st-pagination .pagination>li:first-child>a,
.st-pagination .pagination>li:first-child>span {
  margin-left: 0;
  border-radius: 25px;
}

.st-pagination .pagination>li:last-child>a,
.st-pagination .pagination>li:last-child>span {
  border-radius: 25px;
}

.st-pagination .pagination>.active>a,
.st-pagination .pagination>.active>a:focus,
.st-pagination .pagination>.active>a:hover,
.st-pagination .pagination>.active>span,
.st-pagination .pagination>.active>span:focus,
.st-pagination .pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: var(--theme-lightest-color);
  border-radius: 25px;
  border: 3px solid var(--theme-lightest-color);
}

/*-------------Contact Us-------------*/

.contact-info {}

.contact-info-title {
  font-size: 18px;
  color: #333;
}

.contact-info ul {
  padding-left: 0px;
}

.contact-info li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 30px;
}

.contact-info li i {
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 30px;
  font-size: 18px;
  text-align: center;
  color: #90d7d6;
}

.map {
  height: 400px;
}



/*-------------- other css ------------*/
hr {
  border-top: 1px solid #e1e6e8;
  margin-bottom: 30px;
  margin-top: 30px;
}


/*-------------- home page css ------------*/
.classes-logo {}

.classes-title {
  line-height: 55px;
}

.meta-trainers {
  font-size: 13px;
  color: #34d4a2;
}

.classes-content {
  line-height: 30px;
}

.trainers-img {}

.trainers-info {}

/*-------------- side nav css ------------*/
.sidenav {}

.sidenav ul {}

.sidenav ul li {}

.sidenav ul li:hover {}

.sidenav ul li.active {}

.sidenav ul li a {}

.sidenav ul li a:before {}

.opening-time {}


/*--------------- social icon ------------------*/
.social-icon {}

.social-link {
  font-size: 16px;
  margin-right: 10px;
}


/*-------------- mobile media css ------------*/
@media screen and (max-width: 420px) {

  #navigation.small-screen ul li {
    border-top: 1px solid rgba(120, 120, 120, 0.8);
  }

  #navigation>ul>li:before {
    content: "";
  }

  /*----- intro section -----*/
  .intro-caption {
    padding-top: 90% !important;
    padding-bottom: 80px;
  }


  .intro-title {
    font-size: 32px;
  }

  .navbar-brand {
    float: none;
  }

  /*----- cta -----*/
  .cta-text {
    margin-bottom: 30px;
    text-align: center;
  }

  /*----- footer -----*/
  .footer-widget {
    margin-bottom: 30px;
  }

  .childern {
    padding-left: 0px;
  }
}

/* Custom sizes (768px to 1024px) */

@media screen and (max-width: 768px) {
  #navigation.small-screen ul li {
    border-top: 1px solid rgba(120, 120, 120, 0.8);
  }

  #navigation>ul>li:before {
    content: "";
  }

  .navbar-brand {
    float: none;
  }

  .childern {
    padding-left: 0px;
  }

  #navigation.small-screen .submenu-button {
    height: 50px;
    width: 46px;
  }

  .widget-tags a {
    padding: 7px 7px;
    font-size: 10px;
    line-height: 8px;
  }

  /* .intro-caption {
    padding-top: 50px;
    padding-bottom: 50px;
  } */

  .intro-title {
    font-size: 32px;
    line-height: 45px;
  }
}