:root {
    --main-bg-color: #496077;
    --theme-darkest-color: #10459f;
    --theme-darker-color: #0c4dbd;
    --theme-color: #155ad0;
    --theme-lighter-color: #1d63db;
    --theme-lightest-color: #3c78df;
}

.page-top {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 250px;
    color: white;
    background-color: var(--theme-darkest-color);
    background: linear-gradient(rgba(29, 33, 46, 0.7),
            rgba(29, 33, 46, 0.7)),
        rgba(29, 33, 46, 0.7);
    background-size: cover;
}

.page-heading h1 {
    color: white
}

.page-content {
    position: relative;
    margin-top: 150px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.bg-theme-dark {
    background-color: var(--theme-darkest-color);
}

.service-icon img {
    filter: invert(18%) sepia(65%) saturate(2557%) hue-rotate(208deg) brightness(97%) contrast(97%);

}

#map {
    width: 100%;
    height: 500px;
}

.contact__wrapper {
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 20px;
}

.owl-carousel.home-carousel {
    /* height: 80vh; */
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
}

.owl-carousel.home-carousel .owl-stage-outer {
    height: 100%;
}

.owl-carousel .owl-stage-outer {
    position: relative !important;
    overflow: hidden !important;
}

.owl-carousel .owl-wrapper-outer {
    width: 100% !important;
    position: relative !important;
    overflow: visible !important
}

.owl-dots {
    position: relative;
    margin-top: -40px !important;
    z-index: 9;
}

/* .animsition-link {
    border-bottom: none !important;
    transition: border 0.2s linear !important;
}

.animsition-link:hover {
    border-bottom: 2px solid white !important;
} */

.navigation-link::after {
    /* margin-top: 5px; */
    display: block;
    content: '';
    border-bottom: solid 3px white;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.navigation-link:hover::after {
    transform: scaleX(1);
}

.navigation-link.active::after {
    display: block;
    content: '';
    border-bottom: solid 3px white;
    transform: scaleX(1);
}