{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_links %}
{% endblock %}
{% block style_links %}

{% endblock %}

{% block title %}
Notice | {{instance.title}}
{% endblock %}
{% block content %}
<div class="page-top">
    <div class="container page-heading" style="margin-top:180px;">
        <div class="row">
            <div class="col">
                <h1 class="text-center">{{instance.title}}</h1>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12">bungmanoi&nbsp;

                {% if instance.image %}
                <img src="{{instance.image.url}}" alt="{{instance.title}}">
                {% endif %}
                <p class="text-muted mt-2">Published on: {{instance.date}}</p>
                <div class="mt-2">{{instance.content|safe}}</div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="sidebar-area">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class=" widget widget-categories pinside60 mb40">
                                <h2 class="widget-title">Tags</h2>
                                <ul class="listnone bullet bullet-double-right mb0">
                                    {% for tag in tag_list %}
                                    <li><a href="{{tag.get_absolute_url}}">{{tag.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="widget widget-recent-post pinside60 mb40">
                                <h2 class="widget-title">Recent posts</h2>
                                <div class="row">
                                    {% for news in recent_news %}
                                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 mb40">
                                        <div class="recent-pic mb20">
                                            <a href="{{news.get_absolute_url}}"><img src="{{news.image.url}}"
                                                    class="img-responsive" alt=""></a>
                                        </div>
                                        <div class="recent-block">
                                            <!-- recent block -->
                                            <h3 class="recent-title mb20"><a href="{{news.get_absolute_url}}"
                                                    class="title">{{news.title}}</a>
                                            </h3>
                                            <div class="post-meta">
                                                <!-- post meta -->
                                                <span class="meta-date"><i class="fa fa-calendar"></i>{{news.date}}
                                                </span> </div>
                                            <!-- /.post meta -->
                                        </div>
                                        <!-- /.recent block -->
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_links %}
{% endblock %}
{% block scripts %}

{% endblock %}