{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_links %}
{% endblock %}
{% block style_links %}

{% endblock %}

{% block title %}
News and Articles
{% endblock %}
{% block content %}
<div class="page-top">
    <div class="container page-heading" style="margin-top:180px;">
        <div class="row">
            <div class="col">
                <h1 class="text-center">News and Articles</h1>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="content-area">
                    <div class="row">
                        {% if not news_list %}
                        <div class="col">
                            <p>News article not found.</p>
                        </div>
                        {% endif %}
                        {% for news in news_list %}
                        <div class="col">
                            <div class="post-holder mb40">
                                <div class="post-img">
                                    <a href="{{news.get_absolute_url}}" class="img-fluid"><img src="{{news.image.url}}"
                                            alt="" class="img-responsive"></a>
                                </div>
                                <div class="post-block pinside30 outline">
                                    <div class="post-sticky"></div>
                                    <div class="post-meta mb10">
                                        <!-- post meta -->
                                        <span class="meta-admin">By <a href="#" class="meta-link">{{news.auther}}
                                            </a></span>
                                    </div>
                                    <!-- /.post meta -->
                                    <div class="post-header">
                                        <h1 class="post-title mb10"><a href="{{news.get_absolute_url}}"
                                                class="title">{{news.title}}</a></h1>
                                    </div>
                                    <div class="post-meta mb30">
                                        <!-- post meta -->
                                        <span class="meta-date"><i class="fa fa-calendar"></i> {{news.date}}
                                        </span>

                                    </div>
                                    <div class="post-content">
                                        <div>{{news.content|striptags|truncatewords:40}}</div>
                                        <a href="{{news.get_absolute_url}}" class="btn-link">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="post-holder mb40">
                                <!-- post holder -->
                                <div class="quote-block bg-light outline">
                                    <!-- quote block -->
                                    <div class="quote-icon">
                                        <!-- quote icon -->
                                        <i class="fa fa-quote-left"></i>
                                    </div>
                                    <!-- /.quote icon -->
                                    <blockquote>
                                        <div class="meta-name mb30">
                                            <span class="name">By Perry Deo</span>
                                        </div>
                                        <h1 class="mb40">Quote of The Day</h1>
                                        <p>“The stock market is a advice for transferring money the impatient to the
                                            patient”</p>
                                    </blockquote>
                                </div>
                                <!-- /.quote block -->
                            </div>
                            <!-- /.post holder -->
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                {% if news_list.has_previous %}
                                <li class="page-item"><a class="page-link"
                                        href="?page={{ news_list.previous_page_number }}">Previous</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">Previous</a>
                                </li>
                                {% endif %}
                                {% for i in news_list.paginator.page_range %}
                                {% if i <= news_list.number|add:5 and l >= news_list.number|add:-5 %}
                                {% if news_list.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }} <span
                                            class="sr-only">(current)</span></a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% else %}
                                {% if news_list.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }} <span
                                            class="sr-only">(current)</span></a></li>
                                {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                                {% endif %}
                                {% endfor %}
                                {% if news_list.has_next %}
                                <li class="page-item"><a class="page-link"
                                        href="?page={{ news_list.next_page_number }}">Next</a></li>
                                {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar-area">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class=" widget widget-categories pinside60 mb40">
                                <h2 class="widget-title">Tags</h2>
                                <ul class="listnone bullet bullet-double-right mb0">
                                    {% for tag in tag_list %}
                                    <li><a href="{{tag.get_absolute_url}}">{{tag.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="widget widget-recent-post pinside60 mb40">
                                <h2 class="widget-title">Recent posts</h2>
                                <div class="row">
                                    {% for news in recent_news %}
                                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 mb40">
                                        <div class="recent-pic mb20">
                                            <a href="{{news.get_absolute_url}}"><img src="{{news.image.url}}"
                                                    class="img-responsive" alt=""></a>
                                        </div>
                                        <div class="recent-block">
                                            <!-- recent block -->
                                            <h3 class="recent-title mb20"><a href="{{news.get_absolute_url}}"
                                                    class="title">{{news.title}}</a>
                                            </h3>
                                            <div class="post-meta">
                                                <!-- post meta -->
                                                <span class="meta-date"><i class="fa fa-calendar"></i>{{news.date}}
                                                </span> </div>
                                            <!-- /.post meta -->
                                        </div>
                                        <!-- /.recent block -->
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_links %}
{% endblock %}
{% block scripts %}

{% endblock %}