{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_links %}
{% endblock %}
{% block style_links %}

{% endblock %}

{% block title %}
Notices
{% endblock %}
{% block content %}
<div class="page-top">
    <div class="container page-heading" style="margin-top:180px;">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Notices</h1>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="container">
        <div class="row">
            {% if not notice_list %}
            <div class="col">
                <h4>No Notices available. Please visit us later.</h4>
            </div>
            {% endif %}
            {% for notice in notice_list %}
            <div class="col-xs-12 col-md-4">
                <div class="card">
                    <img class="card-img-top"
                        src="{% if notice.image %}{{notice.image.url}} {% else %}{% static 'img/placeholder.jpg' %}{% endif %}"
                        alt="{{notice.title}}">
                    <div class="card-body">
                        <h4 class="card-title">{{notice.title}}</h4>
                        <p class="text-muted">{{notice.date}}</p>
                        <p class="card-text">{{notice.content|truncatewords:40}}</p>
                        <a href="{{notice.get_absolute_url}}" class="btn btn-default btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block script_links %}
{% endblock %}
{% block scripts %}

{% endblock %}