{% extends 'base.html' %}
{% load staticfiles %}
{% block meta_links %}
{% endblock %}
{% block style_links %}

{% endblock %}

{% block title %}
Notice | {{instance.title}}
{% endblock %}
{% block content %}
<div class="page-top">
    <div class="container page-heading" style="margin-top:180px;">
        <div class="row">
            <div class="col">
                <h1 class="text-center">{{instance.title}}</h1>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col">
                {% if instance.image %}
                <img src="{{instance.image.url}}" alt="{{instance.title}}">
                {% endif %}
                <p class="text-muted mt-2">Published on: {{instance.date}}</p>
                <p class="mt-2">{{instance.content}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script_links %}
{% endblock %}
{% block scripts %}

{% endblock %}